<configuration
    xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role"
    xmlns:messagingTransport="http://www.sitecore.net/xmlconfig/messagingTransport/">
  <sitecore>
    <Messaging>
      <Rebus>
        <SitecoreMessagingQueueSample.Messaging.QueueSampleBus>
          <Transport>            
            <AzureServiceBus>
              <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
              <OneWay role:require="ContentDelivery">true</OneWay>
              <ConnectionStringOrName>custommessagingqueue</ConnectionStringOrName>              
              <InputQueueName>customqueue</InputQueueName>
            </AzureServiceBus>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <SampleMessageMapping>
                  <Type>SitecoreMessagingQueueSample.Messaging.SampleMessageContract,SitecoreMessagingQueueSample</Type>
                  <DestinationQueue>customqueue</DestinationQueue>
                </SampleMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options role:require="(Standalone or ContentManagement) and !ContentDelivery">
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </SitecoreMessagingQueueSample.Messaging.QueueSampleBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>